body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0;
  font-family: 'Avenir', sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.bg_img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Inner {
  position: absolute;
  width: 50%;
  height: 80%;
  border-radius: 5px;
  box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(31px);
  -webkit-backdrop-filter: blur(31px);
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-size: 64px;
  font-weight: 700;
  color: #000000;
}

.description {
  font-size: 28px;
  color: #000000;
  line-height: 40px;

}

.links-wrapper {
  bottom: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  flex-wrap: wrap;
}

.links-wrapper a,
.links-wrapper a:visited {
  font-size: 20px;
  color: #4f4f4f;
  text-decoration: none;
}

.links-wrapper a:hover,
.links-wrapper a:active {
  text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
  color: #333333;
}

.link-item {
  padding: 8px 40px 8px 0;
}

.background_maker {
  position: fixed;
  top: 3%;
  left: 5%;
  width: 600px;
}

.background_maker_1 {
  position: fixed;
  top: 25%;
  right: 10%;
  width: 500px;
}

.background_maker_2 {
  position: fixed;
  bottom: -10%;
  left: 20%;
  width: 500px;
}

.footer {
  font-size: 18px;
}


/* generic mobile devices */
@media (max-width: 736px) {
  body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
  }

  .bg_img {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(31px);
    -webkit-backdrop-filter: blur(31px);
  }

  .Inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-around;
  }

  .title {
    font-size: 60px;
    padding: 8px 10px 8px 10px;
  }

  .description {
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    padding: 8px 10px 8px 10px;
  }

  .links-wrapper {
    bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
  }

  .links-wrapper a,
  .links-wrapper a:visited {
    font-size: 20px;
    color: #4f4f4f;
    text-decoration: none;
  }

  .links-wrapper a:hover,
  .links-wrapper a:active {
    text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
    color: #333333;
  }

  .link-item {
    padding: 8px 10px 8px 10px;
  }

  .footer {
    padding: 8px 10px 8px 10px;
  }

  .background_maker {
    position: fixed;
    top: 3%;
    left: 5%;
    width: 600px;
  }

  .background_maker_1 {
    position: fixed;
    top: 25%;
    right: 10%;
    width: 500px;
  }

  .background_maker_2 {
    position: fixed;
    bottom: -15%;
    left: 20%;
    width: 500px;
  }
}